<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" type="text/css" href="../static/styles.css">
<script src="../static/jquery-3.2.1.slim.min.js"></script>
<link rel="stylesheet" href="../static/bootstrap.css">
<link rel="stylesheet" href="../static/jquery-ui.css">
<script src="../static/bootstrap.js"></script>
<script src="../static/jquery-ui.js"></script>




<head>
    <meta charset="UTF-8">
    <title>Почетна</title>

</head>


<body style="background-color: #d1f4e9;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}"> Дома <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('overview') }}"> Преглед </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('adduser') }}"> Додади корисник</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tasks') }}"> Таскови </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('projects') }}"> Проекти </a>
            </li>

                        <li class="nav-item">
                <a class="nav-link" href="{{ url_for('departments') }}"> Оддели </a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color:#76ccb1;color:white;">Одјави се</button>
        </form>
    </div>
</nav>

<header>
    <div class="container-fluid mx-0 px-0 ">
        <div class="col-12 mx-0 px-0">
            <div class=" img1 card text-center justify-content-center" style="height:600px !important;  background: url('../static/bg.PNG') center ;">

                <div>
                    <div class="card-body w-75 ml-5" style="margin-left: 180px!important;">
                        <h1 class="card-title font-weight-bold" style="color: #f8f9fa">Добредојдовте во системот за управување со работни часови!</h1>
                        <button type="button" style="background-color:#76ccb1;color:white;border: 2px solid white;" class="btn rounded-0"><a href="{{ url_for('overview') }}" class="text-white">Преглед</a></button>  </div>
                </div>
            </div>
        </div>
    </div>
</header>


</body>
</html>